<!DOCTYPE html>
<html ng-app="StoryDb">
  <head>
    <meta charset="UTF-8">
    <title>StoryWeb</title>
      <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>   
  <body>
      <div class="container-fluid" ng-controller="DatabaseController as db">
       <div class="jumbotron">
        <h1>StoryDb</h1>
            <p>
                With StoryDb, you can write and store snippets of stories, create alternate endings, and generally be kick-ass. I'm using this to create a database for stories. Ideally, there should be a way to pick alternate versions of text snippets, as well as a way to weave them all together.
            </p>
           
           <div>
           <input type="text" ng-model="wordEntry"> 
               <button ng-click="db.addTodo(wordEntry)">Click Me!</button>
           </div>
           
        
       </div>    
      </div>
      <script src="js/pouchdb-5.3.1.min.js"></script>
    <script src="js/app.js"></script>
      <script src="js/database.js"></script>
  </body>
</html>